<% provide(:title, "All messages") %>

<table class="maintable" >
<% @articles.each do |article| %>
    <tr>
    <td class="article_title"  >
      <%= link_to article.subject, article_path(article) %>
    </td>
    
    <%= render 'layouts/postbuttons', {article: article} %> 
  
  </tr>
  <tr>
    <td class="message" colspan="20" >
      <div class ="rcorners">
      <%= link_to article.text[0,190], article_path(article) %>
      </div>
      </td>
  </tr>
<% end %>

</table>

  <%= will_paginate %>
