<table class="maintable" >
  <tr>
    <th class="text-center" >
      <%= @article.subject %>
    </th>


    <%= render 'layouts/postbuttons', {article: @article} %> 


  </tr>
  
  <tr>
    <td class="message" colspan="20">
      <div class ="rcorners">
        <%= @article.text %>
        <%= render 'layouts/articlepicture', {article: @article}  %>
      </div>
    </td>
  </tr>
  

</table>