@import "bootstrap-sprockets";
@import "bootstrap";

/* all the globals */

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, lightblue, white);
    padding: 0.5em 0.5em 0.5em 0.5em
}

a {color: black}
a:hover{
    text-decoration: underline;
    color:black;
}

table, th, td {
    border-collapse: collapse;
}

tr:nth-child(even) {background-color: transparent}
tr:nth-child(odd) {
    background: linear-gradient(to left, lightgrey, white);
    }

h1, h2, h3, h4, h5 {
    background-color: lightgrey;
    text-align: center;
    }


/* errors */

#error_explanation {
    width: 90%;
    background-color: pink;
    border-radius: 25px;
    padding: 0.5em 0.5em 0.5em 0.5em
    }

.field_with_errors {

    font-weight: 600;
    color: red;
    }

/* autofit images */

img {
    max-width: 100%;
    max-height: 100%;
}

.embedded_img {
  object-fit: contain;
}

/* specific classes */

.maintable {
    width: 100%;
    border-radius: 25px;
    }

.linksbar {
    text-align: center;
}
.message {
    padding: 0.5em 0.5em 0.5em 0.5em
}

.rcorners {
    border-radius: 5px 30px;
    background: white;
    padding: 0.5em 0.5em 0.5em 0.5em;
    word-break: break-all;
} 

.footer {
    text-align: right;
}

.header {
    text-align: center;
}

.article_title {
    font-weight: 700;
}


.readmore { 
    text-align: right;
    font-weight: 700;
    font-size: 0.7em;
    color: #484d70;
}

.wrongformat {
    color: red;
}

.smaller_fonts { 
    font-weight: 100;
    font-size: 0.7em;
}

.pagination a {
    font-size: 0.8em;
    color: black !important;
    }


/* id's and other particular shit */

#article_text {
  width: 90%;
  height: 16em;
    }

#article_subject {
  width: 90%;
    }
