
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <p><strong>
        Please solve the following <%= pluralize(@article.errors.count, "error") %>
        </strong></p>
        <ul>
            <% @article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>


