<table class="maintable linksbar" >
<tr>
<td class="rcorners-left">

  <%= link_to "<span class=\"glyphicon glyphicon-comment\">
  </span>  New Note".html_safe, new_article_path %>

</td>

<td class="rcorners-right">

  <%= link_to "<span class=\"glyphicon glyphicon-home\">
  </span>  Home".html_safe, root_path %>

</td>
  
</tr>
</table>
<p> </p>