    <td class="text-right smaller_fonts">
    <%= time_ago_in_words(article.created_at) %> ago.
    
    <% if article.created_at != article.updated_at %>
        Updated <%= time_ago_in_words(article.updated_at) %> ago.
    <% end %>
    
    </td>
    

    <td class="text-right">
    <%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, 
                                                  edit_article_path(article) %>
    </td>
      
    <td class="text-right">
    <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, 
                                                        article_path(article),
                                                              method: :delete,
                                        data: { confirm: 'u fuckin sure?' } %>
    </td>