    <td class="text-right">
    <%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, 
                                                  edit_article_path(article) %>
    </td>
      
    <td class="text-right">
    <%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, 
                                                        article_path(article),
                                                              method: :delete,
                                        data: { confirm: 'u fuckin sure?' } %>
    </td>